@font-face {
  font-family: 'icomoon';
  src:  url('common/fonts/icomoon.eot?dmbbdp');
  src:  url('common/fonts/icomoon.eot?dmbbdp#iefix') format('embedded-opentype'),
    url('common/fonts/icomoon.ttf?dmbbdp') format('truetype'),
    url('common/fonts/icomoon.woff?dmbbdp') format('woff'),
    url('common/fonts/icomoon.svg?dmbbdp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-algorithm:before {
  content: "\e900";
}
.icon-index:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-market:before {
  content: "\e903";
}
.icon-report:before {
  content: "\e904";
}
.icon-vip_follow:before {
  content: "\e905";
}
.icon-vip_report:before {
  content: "\e906";
}
.icon-vip_value:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-dismiss:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}
.icon-news:before {
  content: "\e90b";
}
.icon-record:before {
  content: "\e90c";
}
.icon-down:before {
  content: "\e90e";
}
.icon-up:before {
  content: "\e90f";
}
.icon-more:before {
  content: "\e910";
}
.icon-no_result:before {
  content: "\e911";
}
.icon-hot_fill:before {
  content: "\e912";
}
.icon-vip_qusetion:before {
  content: "\e913";
}