$color-background = rgb(23, 23, 52)
$color-light-background = rgb(36, 36, 72)

$color-icon = rgb(67, 67, 128)
$color-nav-text = rgb(217, 217, 217)
$color-text = rgb(191, 191, 191)

$color-line = rgba(255, 255, 255, 0.17)
$color-search = rgba(255, 255, 255, 0.5)

$color-white = rgb(255, 255, 255)
$color-red = rgb(230, 67, 64)
$color-green = rgb(9, 187, 7)
$color-yellow = rgb(255, 216, 20)
$color-blue = rgb(37, 97, 239)
$color-light-blue = rgb(6, 238, 254)
$color-dark-blue = rgb(70, 69, 230)
$color-purple = rgb(109, 81, 255)
$color-light-purple = rgb(67, 67, 128)